 .container-card{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card-caption{
    text-decoration: none;
}
.card-title{
    text-align: center;
    background-color: red;
}


 
  