.first-container { /*mta3 taswira lkalba lmahabtech terkah*/
    position: relative;
    text-align: center; 
  }
  
  .header-pic {

    width: 100%; 
  height: 200px; 
  display: block;
  margin: 0 auto; 
  }
  
  #header-style {
    position: absolute;
    top: 50%;
    margin-left:400px;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    
  }
  
  
.container-card{
    display: flex;
     justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    margin-left: 15px;
    margin-top: 15px;
}
#header-style{
    text-align: center;
font-style:oblique;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:xx-large;}
.pic-style {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: rgb(248, 221, 232);
  }
  .picture{
    margin-left: 200px;
  }
  
  .pic-style figure {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .pic-style .picture {
    max-width: 100%; /* Pour que les images s'ajustent correctement */
    height: auto; /* Pour conserver le rapport hauteur/largeur des images */
    display: block;
  }
  
.navbar{
    position: sticky !important;
    top: 0 !important;
    z-index: 50;
    height: 150px;
}
.navbar-nav{
    margin: auto;
    margin-top: 100px;
}
.nav-link{
    padding-right: 50px !important;
}
.figcaption{
    color: black;
    font-size: x-large;
    font-style: inherit;
    margin-bottom: 50px;
}
.blue-flower{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    max-width: 100%;
    height: auto;
    transform: translateX(-50%);
}
.title{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-family: "Heldane Display", sans-serif;
    font-size: 25px;
    line-height: 1.14px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5%; /* Ajustez la hauteur selon vos besoins */
  }
  
  .blue-flowers {
    width: 100px; /* Étaler l'image sur toute la largeur */
    height: auto; /* Maintenir le ratio hauteur/largeur */
  }
  
  .jumbotron {
    background-image: url('/imgs/BlockBrand.avif');
    background-size:cover;
    background-position: center;
    color: rgb(0, 0, 0);
    width:auto;
    max-width: 450px;
    /* height:300px; */
    padding-top: 10px;
    text-align: center;
    border: 2px solid #cc4343; /* Ajouter une bordure de 2 pixels avec une couleur blanche */
    border-radius: 100px; /* Ajouter un rayon de bordure */
  margin: auto;}
 
.user-pic{
    width: 30px;
    object-fit: cover;
    mix-blend-mode: darken;
    margin-bottom: 100px;
    margin-left: 15px;
}
.nav-item{
    font-size:larger;
    font-style:initial;
}
.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#F0F0F0;
    min-width: 100px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-trigger:hover + .dropdown-content {
    display: block;
}

  
  